body {
  margin: 0;
  font-family: -apple-system,  'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
}
